.box{
    background-color:beige;
    height:400px;
    width: 400px;
    border: 2px solid black;
    display: flex;
    
    align-items: center;
    justify-content: center;
    margin: auto;
    transition: all 5s linear ;


}
.container{
    height:100vw;
    width: 100vw;
     display: flex;                                                                                                             
    align-items: center;
    justify-content: center;
}
.box:hover{ 
        transform: scale(2);
          
}
p{
    font-size: 35px;
}